
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: 0;
    font-family: 'Poppins' ,sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:hsl(184, 100%, 50%) ; 
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.head{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 4rem;
    background-color:var(--bg-color);
    z-index: 1;
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor:default;
}
.nav-bar{
    /* width: 45%; */
    font-size: 1.7rem;
}
.nav-bar a {
    color: var(--text-color);
    margin-right: 2rem;
    transition: .3s ;
}
.nav-bar a:hover,.nav-bar .active,.logo:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 2.5rem;
    display: none;
}

/* home section */

section{
   
    min-height: 100vh;
    padding: 12.5rem 9% 2rem;
    
}
.my-img{
    background-image: url(./harsh.jpeg);
    height: 40rem;
    width: 40rem;
    background-size:cover;
    /* border: solid black 2rem; */
    border-radius: 50%;
    box-shadow: 1px 1px 12px #0ef
}

.home{
    display: flex;
    justify-content: space-evenly
    
}
.home h3{
    font-size: 3rem;
    font-weight: 600;
} 
 .home h1{
    font-size: 5rem;
}
.home h2{
    font-size: 4rem;
}
.home p{
    margin-top: 2rem;
    font-size: 1.8rem;
    text-align:left;
}

.social-acc a{
    display: inline-flex;
    justify-content: center;
    align-items:center ;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 2rem 3rem 0;
}
.social-acc a:hover{
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    transition: .2s;
}
span{
    color: var(--main-color);
}
.btn{
  display: inline-block;
    background: var(--main-color);
   border-radius: 4rem;
   font-size: 2rem;
   padding: 1rem 2.8rem;
   box-shadow: 0 0 1rem var(--main-color);
   color: var(--second-bg-color);
   letter-spacing: .2rem;
   transition: .5s ease ;
}

/* about section */
.harsh{
    height: 40rem;
    border-radius: 50%;
    box-shadow: 0 0 1.5rem var(--main-color);
    
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background-color: var(--second-bg-color);
}
.btn2{
    margin-top: 2rem;
}
#about ,#services{
    padding:10rem 15rem;
}
p{
    text-align: justify;
}

/* services section */

.services h2{
  text-align: center;
  font-size:4rem;
}
.services{
    padding-top: 10rem;
    padding-bottom: 5rem;
    
}
.container-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem ;
    gap: 4rem;
    
   
}
.box{
   flex: 1 1 30rem;
    border: solid 0.2rem var(--bg-color) ;
    padding: 2rem 2rem 2rem ;
    width: 100rem;
    background-color: var(--second-bg-color);
    border-radius: 2rem;
    text-align: center;
}
.box i{
    font-size:5rem;
    color: var(--main-color);
}
.box .btn{
    margin-top: 1rem;
}
.box h3{
    font-size: 2.5rem;
}
.p3{
font-size: 1.5rem;
}

/* project section */

.portfolio{
    background-color: var(--second-bg-color);
    padding-top: 10rem;
}
 
.portfolio .heading{
    margin-bottom: 2rem;
    text-align: center;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 2rem;
    align-items: center;
    overflow: hidden;
   
    
}
.port-box{
    position :relative;
    overflow: hidden;
    display: flex;
    height: 20rem;
    border-radius: 2rem;     
    box-shadow: 0 0 2rem var(--bg-color);
}
.port-box img{
  width: 100%;
  
}
.port-box:hover img{
    transform: scale(1.2);
    transition: .5s ease-in;
}
.port-box .layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0,0,0,.5),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translatey(100%);
} 
.port-box:hover .layer{
    transition: 0.5s;
    transform: translatey(0%);
}
.layer h4{
    font-size: 3rem;
}
.layer p{
    font-size: 1.5rem;
    margin: 1rem;
}
.layer a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.layer a i{
   color: var(--second-bg-color);
   font-size: 1.5rem;
}


/* contact section */
.contact{
    padding-top: 7rem;
}

.contact h2{
    text-align: center;
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin-bottom: 3rem;
    margin: 1rem auto;
    text-align: center;
}
.input-box{
display: flex;
justify-content: space-between;
flex-wrap: wrap ;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    margin: .7rem 0;
    border-radius: .7rem;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
    max-height: 25rem;
}
.contact form .btn{
    margin-top: 1rem;
}


/*  responsivness */
@media (max-width:1222px){
    html{
        font: 55%;
    }
}

@media (max-width:991px){
    .head{
      padding : 1rem 2rem;
     }
    section{
      padding:10rem 3% 2rem ;
    }
}

@media (max-width:780px){
    #menu-icon{
        display: block;
        font-size: 2rem;
    }

    .nav-bar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%; 
        background-color: var(--bg-color);
        padding: 1rem 3%;
        box-shadow: 0  .5rem 1rem rgb(0, 0, 0,.2);
        display: none;
        transition: .5s;
    }
    .nav-bar a{
        display: block;
        padding: 1rem 2rem;
        font-size: 2rem;
    }
    .nav-bar.active{
        display:block;
    }
    
}